@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-background: #172554;
  --bottom-background: #93C5FD;
  --foreground: #EFF6FF;
}

body {
  color: var(--foreground);
  background: var(--top-background);
  font-family: Arial, Helvetica, sans-serif;
}
