@import "tailwindcss";

:root {
  --background: var(--color-jet);
  --foreground: var(--color-salt);
}


[data-theme='dark'] {
  --background: var(--color-jet);
  --foreground: var(--color-salt);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-salt: #F1EBE4;
  --color-lush: #3FA17D;
  --color-steel: #9E9E9E;
  --color-slate: #2B2B2B;
  --color-jet: #151515;
}

/**
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-raisin);
    --foreground: var(--color-salt);
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
